$grey: rgb(179, 179, 179);
/* $yellow: #fca311; */
$yellow: RGB(106, 247, 151);
$dark: RGB(28, 29, 28);
$dark_grey: rgb(43, 43, 43);
$semi_dark: #222527;
$card: hsl(204, 10%, 18%);
$twitch: #9147FF;
$youtube: #ff2e2e;
$hover-black: rgba(0, 0, 0, 0.1);