/* $yellow: #fca311; */
section .title {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

section .preview {
  width: 100%;
  height: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

section form {
  margin: auto;
}

section form .wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

section form .wrap input {
  width: 200px;
}

.minSet {
  min-width: 220px;
}

.text-yellow {
  color: RGB(106, 247, 151);
}

.matchCol {
  max-width: unset !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matchCol .matchCard {
  width: 100%;
  max-width: 400px;
}

.matchCol .matchCard .imgBack .maps {
  background-color: grey;
}

.matchCol .matchCard .imgBack .maps:nth-child(2) {
  background-color: #4b4b4b;
}

.matchCol .matchCard .teamLogo {
  background-color: #333333;
}

.myToast {
  pointer-events: none;
}

.myToast > * {
  pointer-events: none;
}

.userCol .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adminMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0.5rem;
  overflow: hidden;
}

.adminMenu .myCard {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.9rem;
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.adminMenu .myCard:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.adminMenu .myCard a {
  padding: 0.5rem 1rem;
}

.adminMenu .myCard a::first-letter {
  text-transform: uppercase;
}

.menuActive {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.menuActive a {
  color: white;
}

.menuActive a i {
  color: RGB(106, 247, 151);
}

tr {
  cursor: pointer;
}

tr .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

tr td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

tr td div {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

tr td div .twitch, tr td div .youtube, tr td div .twitter {
  font-size: 0.9rem;
}

tr td .roleSelect {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

table {
  white-space: nowrap;
}

table tr td a {
  display: block;
  height: 100%;
  width: 100%;
}

tr {
  position: relative;
  z-index: 0;
}

tr form {
  position: relative;
  z-index: 100;
}

form input:focus {
  border-color: RGB(106, 247, 151) !important;
}

.proposalCol {
  max-width: 350px;
  font-size: 0.9rem;
  max-height: 250px;
}

.proposalCol .proposalCard {
  width: 100%;
}

.proposalCol header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proposalCol header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.proposalCol header .username {
  margin-left: 0.5rem;
}

.proposalCol header .date {
  margin-left: auto;
  margin-right: 2rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.proposalCol .articleTitle {
  margin-top: 0.5rem;
  color: white;
}

.proposalCol .link {
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.proposalCol p {
  margin-bottom: 0.2rem;
  white-space: normal;
}

.searchMember {
  margin: 0;
}

.searchMember input {
  width: 150px;
  border-radius: 3em;
  border: 1px solid RGB(106, 247, 151);
  background-color: transparent;
  padding: 0.4em 2em;
  font-size: 0.8em;
  outline: none;
  color: #b3b3b3;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.myMaxFit {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

#tournamentName {
  max-width: 400px;
}

.myCheckBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  position: relative;
}

.myCheckBox input {
  display: none;
}

.myCheckBox input:checked + label {
  border-color: RGB(106, 247, 151);
  color: RGB(106, 247, 151);
}

.myCheckBox label {
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border: 2px solid #b3b3b3;
  border-radius: 0.5rem;
}

#refresh {
  cursor: pointer;
}
/*# sourceMappingURL=admin.css.map */