@import 'colors';

section {
    .title {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .preview {
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: contain;
    }
    form {
        margin: auto;
        .wrap {
            flex-wrap: wrap;
            gap: 0.5rem;
            input {
                width: 200px;

            }
        }
    }
}

.minSet {
    min-width: 220px;
}

.text-yellow {
    color: #ffc107;
}

.matchCol {
    max-width: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .matchCard {
        width: 100%;
        max-width: 400px;
        .imgBack {
            .maps {
                background-color: grey;
            }
            .maps:nth-child(2) {
                background-color: rgb(75, 75, 75);
            }
        }
        .teamLogo {
            background-color: hsl(0, 0%, 20%);
        }
    }
}

.myToast {
    pointer-events: none;
    & > * {
        pointer-events: none;
    }
}

.userCol {
    .logo {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.adminMenu {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    overflow: hidden;
    .myCard {
        border-radius: 0;
        box-shadow: none;
        font-size: 0.9rem;
        font-weight: normal;
        width: fit-content;
        padding: 0;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        a {
            padding: 0.5rem 1rem;
            &::first-letter {
                text-transform: uppercase;
            }

        }
    }
}

.menuActive {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none !important;
    a {
        color: white;
        i {
            color: $yellow;
        }
    }
}

tr {
    cursor: pointer;
    .social {
        display: flex;
        flex-direction: row;
    }
    td {
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        div {
            overflow-x: hidden;
            display: flex;
            .twitch, .youtube, .twitter {
                font-size: 0.9rem;
            }
        }
        .roleSelect {
            width: max-content;
            margin : 0;
        }
    }
}

table {
    white-space: nowrap;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}

tr {
    position: relative;
    z-index: 0;
    form {
        position: relative;
        z-index: 100;
    }
}

form {
    input {
        &:focus {
            border-color: $yellow !important;
        }
    }
}

.proposalCol {
    max-width: 350px;
    font-size: 0.9rem;
    max-height: 250px;
    .proposalCard {
    width: 100%;
    }
    header {
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .username {
            margin-left: 0.5rem;
        }
        .date {
            margin-left: auto;
            margin-right: 2rem;
            align-self: start;
        }
    }
    .articleTitle {
        margin-top: 0.5rem;
        color: white;
    }
    .link {
        text-decoration: underline;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        margin-bottom: 0.2rem;
        white-space: normal;  
    }
}

.searchMember {
    margin: 0;
    input {
        width: 150px;
        border-radius: 3em;
        border: 1px solid $yellow;
        background-color: transparent;
        padding: 0.4em 2em;
        font-size: 0.8em;
        outline: none;
        color: #b3b3b3;
        position: relative;
    }
}