@import 'colors';


.teamCard {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    .toggle {
        position: absolute;
        bottom: 0.6rem;
        right: 1rem;
    }
    header {
        display: flex;
        align-items: stretch;
        padding: 1rem;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(to right, $yellow 0%, rgba(0, 128, 0, 0) 100%);
        }
        .teamLogoBack {
            z-index: -1;
            width: 100%;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.2;
            filter: blur(5px);
        }
        .teamLogo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
        .teamName {
            max-width: 150px;
            white-space: nowrap;
        }
        .wrap {
            margin-left: 1rem;
            h3 {
                color: white;
            }
            .flag {
                background-color: white;
                width: 2rem;
                height: 1rem;
                border-radius: 5px;
                position: relative;
                img {
                    width: 110%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .link {
                color: white;
                background-color: $yellow;
                font-size: 0.8rem;
                margin: 0;
                width: 100%;
                border-radius: 2rem;
                text-align: center;
                padding: 0.1rem ;
                a {
                    background-color: unset;
                    color: white;
                    margin: 0;
                }
            }
        }
    }
    .teamMembers {
        padding: 1rem;
        padding-right: 3rem;
        a:first-child {
            .memberLogo {
                margin-left: 0px;
            }
        }
        a {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            .memberLogo {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .memberName { 
                margin-left: 0.5rem;
                font-size: 1rem;
                font-weight: normal;
                color: white;
                font-weight: lighter;
            }
        }
    }
    .small {
        display: flex;
        height: 72px;
        a {
            margin-bottom: 0rem;
        }
        .memberLogo {
            margin-left: -10px;
        }
        .memberName {
            display: none;
        }
    }
    
}
main {
    .active {
        z-index: 1000;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.432);
    }
}


.teamCol {
    max-width: fit-content;
    min-width: 300px;
    min-height: 180px;
    .addCard {
        max-height: 126px;
    }
}

.tournamentCard {
    position: relative;
    color: white;
    transition: 0.3s ease-in-out ;
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    min-height: 100px;
    .addCard {
        max-width: 500px !important;
    }
    &:hover {
        transform: translate(0, -0.5rem);
    }
    &>.stuff:not(:first-child) {
        border-left: 1px solid $yellow;
        display: flex;
        flex-direction: column;
        flex-grow: 2 ;
        justify-content: center;
        padding-left: 1rem;
        
    }
    .stuff {
        width: 10%;
        min-width: 200px;
        overflow: hidden;
    }
    span {
        font-weight: lighter;
        color: $grey;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .brand {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .orgLogo {
            width: 70px;
            height: 70px;
            border-radius: 0.5rem;
            object-fit: cover;
            background-image: inherit;
        }
        .orgName {
            margin-left: 0.8rem;
        }
    }
    .teams {
        .teamsWrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .teamLogo {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-left: -10px;
            }
            .teamLogo:first-of-type {
                margin-left: 0px;
            }
        }
        
    }
}

section {
    h1 {
        color: $grey !important;
        &::first-letter {
            color: $yellow;
        }
    }
}

.matchCol {
    max-width: 400px;
    min-width: 320px;
    min-height: 215px;
    .matchCard {
        padding: 1rem;
        overflow: hidden;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            color: white;
            .imgBack {
                filter: opacity(75%);
            }
        }
        .imgBack {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            filter: opacity(25%) saturate(1.5);
            transition: 0.3s;
            .maps, .maps2 {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            .maps {
                &:first-of-type {
                    width: 50%;
                    object-position: 75%;
                }
                &:nth-of-type(2){
                    z-index: 5;
                    width: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    
                }
                &:last-of-type {
                    width: 50%;
                    left: unset;
                    right: 0;
                    object-position: 25%;
                }
            }
            .maps2 {
                &:first-child {
                    width: 60%;
                    object-position: 75%;
                }
                &:nth-of-type(2) {
                    width: 57%;
                    left: unset;
                    right: 0;
                    object-position: 25%;
                    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
                }
            }
            
        
        }
        header, footer {
            position: relative;
            z-index: 20;
            & > * {
                text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            }
        }
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 1 1;
            padding: 0;
            .teamWrap {
                .teamLogo {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid transparent;
                }
                .win {
                    border-color: $yellow;
                }
                span {
                    display: block;
                    text-align: center;
                    color: white;
                    margin-top: 0.5rem;
                }
            }
            
            .scoreWrap {
                
                .score {
                    background: rgba( 255, 255, 255, 0.25 );
                    backdrop-filter: blur( 4px );
                    -webkit-backdrop-filter: blur( 4px );
                    border-radius: 50px;
                    width: 90px;
                    display: flex;
                    justify-content: center;
                    padding: 0 0.5rem;
                    font-weight: lighter;
                    font-size: 0.9rem;
                    color: white;
                    margin: 5px 0;
                    flex-shrink: 1;
                    span:nth-child(1) {
                        margin: 0 auto;
                    }
                    span:nth-child(3) {
                        margin: 0 auto;
                    }
                }
            }
        }
        footer {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            .vodWrap {
                a {
                    display: block;
                }
            }
            .typeWrap {
                span {
                    color: white;
                }
                .date {
                    font-weight: lighter;
                }
            }
        }
    }
    
}

.addCard {
    border-radius: 1rem;
    border: 1px solid $grey;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    &:hover {
        border: 1px solid $yellow;
    }

}

.admin {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    a {    
        border-radius: 1rem 0rem;
        &:hover {
            opacity: 0.8;
        }
    }
    button {
        border-radius: 0rem 1rem;
    }
}

.team {
position: relative;
isolation: isolate;
}

.teamBackImg {
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: -1;
    object-fit: cover;
    filter: saturate(120%);
    inset: 0;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0,0));
    display: none;
  }

label {
    font-weight: normal;
    color: white;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
    .teamCol {
        max-width: unset;
    }
    
}
