/* $yellow: #fca311; */
.teamCard {
  position: relative;
  padding: 0;
  overflow: hidden;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.teamCard .toggle {
  position: absolute;
  bottom: 0.6rem;
  right: 1rem;
  cursor: pointer;
}

.teamCard .toggle:hover {
  color: RGB(106, 247, 151);
}

.teamCard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.teamCard header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(RGB(106, 247, 151)), to(rgba(0, 128, 0, 0)));
  background: linear-gradient(to right, RGB(106, 247, 151) 0%, rgba(0, 128, 0, 0) 100%);
}

.teamCard header .teamLogoBack {
  z-index: -1;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.2;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.teamCard header .teamLogo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamCard header .teamName {
  max-width: 150px;
  white-space: nowrap;
}

.teamCard header .wrap {
  margin-left: 1rem;
}

.teamCard header .wrap h3 {
  color: white;
}

.teamCard header .wrap .flag {
  background-color: white;
  width: 2rem;
  height: 1rem;
  border-radius: 5px;
  position: relative;
}

.teamCard header .wrap .flag img {
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.teamCard header .wrap .link {
  color: white;
  background-color: RGB(106, 247, 151);
  font-size: 0.8rem;
  margin: 0;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
  padding: 0.1rem;
}

.teamCard header .wrap .link a {
  background-color: unset;
  color: white;
  margin: 0;
}

.teamCard .teamMembers {
  padding: 1rem;
  padding-right: 3rem;
}

.teamCard .teamMembers [href]:hover .memberLogo {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  border: 1px solid RGB(106, 247, 151);
  background-color: RGB(106, 247, 151);
}

.teamCard .teamMembers [href]:hover .memberName {
  color: RGB(106, 247, 151);
  font-weight: bold;
}

.teamCard .teamMembers a:first-child .memberLogo {
  margin-left: 0px;
  border: 1px solid transparent;
}

.teamCard .teamMembers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.teamCard .teamMembers a .memberLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamCard .teamMembers a .memberName {
  margin-left: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-weight: lighter;
}

.teamCard .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
}

.teamCard .small a {
  margin-bottom: 0rem;
}

.teamCard .small .memberLogo {
  margin-left: -10px;
}

.teamCard .small .memberName {
  display: none;
}

main .active {
  z-index: 1000;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.432);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.432);
}

.teamCol {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 300px;
  min-height: 180px;
}

.teamCol .addCard {
  max-height: 126px;
}

.tournamentCard {
  position: relative;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -ms-grid;
  display: grid;
  grid-gap: .75rem;
  -ms-grid-columns: (minmax(9rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  min-height: 100px;
}

.tournamentCard .addCard {
  max-width: 500px !important;
}

.tournamentCard:hover {
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}

.tournamentCard > .stuff:not(:first-child) {
  border-left: 1px solid RGB(106, 247, 151);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
}

.tournamentCard .stuff {
  width: 100%;
  overflow: hidden;
}

.tournamentCard span {
  font-weight: lighter;
  color: #b3b3b3;
}

.tournamentCard span::first-letter {
  text-transform: uppercase;
}

.tournamentCard .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tournamentCard .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tournamentCard .brand .orgLogo {
  width: 70px;
  height: 70px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: inherit;
}

.tournamentCard .brand .orgName {
  margin-left: 0.8rem;
}

.tournamentCard .teams .teamsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tournamentCard .teams .teamsWrap .teamLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -10px;
}

.tournamentCard .teams .teamsWrap .teamLogo:first-of-type {
  margin-left: 0px;
}

section h1 {
  color: #b3b3b3 !important;
}

section h1::first-letter {
  color: RGB(106, 247, 151);
}

.matchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matchCol {
  max-width: 400px;
  min-width: 320px;
  min-height: 215px;
}

.matchCol .matchCard {
  padding: 1rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.matchCol .matchCard:hover {
  color: white;
}

.matchCol .matchCard:hover .imgBack {
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}

.matchCol .matchCard .imgBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: opacity(25%) saturate(1.5);
          filter: opacity(25%) saturate(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.matchCol .matchCard .imgBack .maps, .matchCol .matchCard .imgBack .maps2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.matchCol .matchCard .imgBack .maps:first-of-type {
  width: 50%;
  -o-object-position: 75%;
     object-position: 75%;
}

.matchCol .matchCard .imgBack .maps:nth-of-type(2) {
  z-index: 5;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.matchCol .matchCard .imgBack .maps:last-of-type {
  width: 50%;
  left: unset;
  right: 0;
  -o-object-position: 25%;
     object-position: 25%;
}

.matchCol .matchCard .imgBack .maps2:first-child {
  width: 60%;
  -o-object-position: 75%;
     object-position: 75%;
}

.matchCol .matchCard .imgBack .maps2:nth-of-type(2) {
  width: 57%;
  left: unset;
  right: 0;
  -o-object-position: 25%;
     object-position: 25%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.matchCol .matchCard header, .matchCol .matchCard footer {
  position: relative;
  z-index: 20;
}

.matchCol .matchCard header > *, .matchCol .matchCard footer > * {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.matchCol .matchCard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 0;
}

.matchCol .matchCard header .teamWrap .teamLogo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid transparent;
}

.matchCol .matchCard header .teamWrap .win {
  border-color: RGB(106, 247, 151);
}

.matchCol .matchCard header .teamWrap span {
  display: block;
  text-align: center;
  color: white;
  margin-top: 0.5rem;
}

.matchCol .matchCard header .scoreWrap .score {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.5rem;
  font-weight: lighter;
  font-size: 0.9rem;
  color: white;
  margin: 5px 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.matchCol .matchCard header .scoreWrap .score span:nth-child(1) {
  margin: 0 auto;
}

.matchCol .matchCard header .scoreWrap .score span:nth-child(3) {
  margin: 0 auto;
}

.matchCol .matchCard footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.matchCol .matchCard footer .vodWrap a {
  display: block;
}

.matchCol .matchCard footer .typeWrap span {
  color: white;
}

.matchCol .matchCard footer .typeWrap .date {
  font-weight: lighter;
}

.addCard {
  border-radius: 1rem;
  border: 1px solid #b3b3b3;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
}

.addCard:hover {
  border: 1px solid RGB(106, 247, 151);
}

.admin {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin a {
  border-radius: 1rem 0rem;
}

.admin a:hover {
  opacity: 0.8;
}

.admin button {
  border-radius: 0rem 1rem;
}

.team {
  position: relative;
  isolation: isolate;
}

.teamBackImg {
  position: absolute;
  width: 100%;
  height: 55vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  inset: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
  display: none;
}

label {
  font-weight: normal;
  color: white;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  .teamCol {
    max-width: unset;
  }
}

@media screen and (max-width: 900px) {
  .matchRow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=comp.css.map */