@import 'colors';
.topStats {
    padding: 1rem;
    border-radius: 1rem;
    .heures {
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
        padding-bottom: 1rem ;
        margin-bottom: 1rem;
    }
    .mygrid {
        display: grid;
        grid-gap: .75rem;
        grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
        padding: .625rem;
        .numbers {
            display: flex;
            flex-direction: column;
            .name {
                font-size: 1rem;
                font-weight: 500;
                white-space: nowrap;
            }
            .value {
                font-size: 1.25rem;
                font-weight: 700;
                white-space: nowrap;
                color: white;
            }
            .bottom {
                display: flex;
                .rank {
                    font-size: .625rem;
                    font-weight: 500;
                    color: $yellow;

                }
            }
            
        }
    }
}