@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

a:hover {
  color: #fca311;
}

aside {
  max-width: 300px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292f32), to(#14171a));
  background-image: linear-gradient(#292f32, #14171a);
  min-height: 100vh;
  border-right: 1px solid #464646;
  position: relative;
  z-index: 100;
}

aside .stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100vh;
}

aside .brand {
  font-size: 2em;
  font-weight: bold;
  color: #fca311;
  padding: 1em;
}

aside .brand span {
  font-size: 0.6em;
  font-weight: 300;
  color: white;
}

aside nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside nav .pages {
  background-color: transparent;
  padding: 0.7em 1em !important;
  margin: 0.1rem 0.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

aside nav .pages div {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

aside nav .pages div::first-letter {
  text-transform: uppercase;
}

aside nav .pages:hover {
  background-color: #2b2b2b;
  border-color: #fca311;
}

aside nav .active {
  color: white;
}

aside nav .active i {
  color: #fca311;
}

aside nav .active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fca311;
}

aside nav .plusPhone {
  cursor: pointer;
  border: none;
}

aside nav .profilMenu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

aside nav .profilMenu2 > *:not(form) {
  margin: 5px 10px;
  text-align: center;
}

aside nav .profilMenu2 form {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside nav .profilMenu2 button {
  background-color: transparent;
  border: none;
  border-radius: 1em;
  font-size: 0.9em;
  color: #b3b3b3;
  padding: 0.4em 0.8em;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  margin-left: auto;
}

aside nav .profilMenu2 button:hover {
  background-color: #36393b;
  color: #fca311;
}

main {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202427), to(#14171a));
  background-image: linear-gradient(#202427, #14171a);
  position: relative;
  background-attachment: scroll;
  min-height: 100vh;
}

main > header {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* .profilMenu {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            bottom: 0;
            transform: translate(100%, 100%);
            transition: 0.5s ease-in-out; 
            button {
                margin: 5px 10px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.247);
            }
            & > *:not(form) {
                margin: 5px 10px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.247);
                text-align: center;
            }
        } */
}

main > header > * {
  cursor: pointer;
}

main > header > *:hover {
  color: #fca311;
}

main > header input[type="search"] {
  border-radius: 3em;
  border: 1px solid #464646;
  background-color: transparent;
  padding: 0.4em 2em;
  font-size: 0.8em;
  outline: none;
  color: #b3b3b3;
  position: relative;
}

main > header input[type="search"]:hover, main > header input[type="search"]:focus {
  background-color: #292c2c;
}

main > header i {
  position: relative;
}

main > header i::after {
  content: '';
  background-color: #fca311;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 70%;
}

main > header button, main > header a {
  background-color: #36393b;
  border: none;
  border-radius: 1em;
  font-size: 0.9em;
  color: #b3b3b3;
  padding: 0.4em 0.8em;
  margin: 0 1em;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

main > header button:hover, main > header a:hover {
  background-color: transparent;
  color: #fca311;
}

main > header .focused {
  -webkit-transform: translate(0%, 100%) !important;
          transform: translate(0%, 100%) !important;
}

main > header .userInfos {
  margin-left: 2rem;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > header .userInfos .userName {
  background-color: unset;
  color: white;
  margin-right: 0;
}

main > header .userInfos .role {
  font-size: 0.8rem;
}

main > header .userInfos .profilLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fca311;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 1rem;
}

main section {
  padding: 1em 0;
}

main section h1 {
  font-weight: bold;
  color: white;
  padding: 0 0.5em;
  color: #b3b3b3;
  text-transform: uppercase;
}

main section h1::first-letter {
  color: #fca311;
}

main section h1 span {
  color: white;
}

main .actu {
  margin-top: 150px;
}

main .actu .card {
  border: none;
  height: 500px;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
  background-size: cover;
  background-position: center;
  background-image: url(../images/broken-fire.jpg);
}

main .actu .card .desc {
  position: relative;
  margin-top: auto;
  padding: 2em 1.5em;
  z-index: 100;
  font-weight: lighter;
}

main .actu .card .desc .title {
  font-weight: lighter;
}

main .actu .card .desc .date, main .actu .card .desc .auteur {
  color: #b3b3b3;
}

main .actu .card .desc .sujet {
  font-size: 1.2em;
  text-transform: uppercase;
}

main .actu .card .desc a {
  border: none;
  background-color: #fca311;
  padding: 0.5em 2.5em;
  color: white;
  border-radius: 5px;
  margin-top: 2em;
}

main .actu .card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #00000000), to(#000000e0));
  background-image: linear-gradient(#00000000 40%, #000000e0);
}

main .actu .Mini {
  background-image: none;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  min-width: 530px;
}

main .actu .Mini:first-of-type {
  margin-bottom: 20px;
}

main .actu .Mini:last-of-type .image {
  background-image: url(../images/pont.jpg);
}

main .actu .Mini .image {
  background-image: url(../images/into-the-fire.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

main .actu .Mini .desc {
  margin-top: unset;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #222527;
  padding: 1em 2em 2em;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .actu .Mini .desc .title {
  margin-top: 0;
}

main .actu .Mini .desc a {
  margin-top: auto;
  padding: 0.3em 2em;
  font-size: 0.8em;
}

main .twitch {
  margin-top: 2rem;
}

main .twitch nav {
  margin-top: 2rem;
  font-weight: lighter;
}

main .twitch nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main .twitch nav ul li {
  margin-right: 1.5rem;
  border-bottom: 2px solid transparent;
}

main .twitch nav ul .active {
  border-color: #fca311;
}

main .twitch nav ul .active a {
  color: white;
}

main .twitch .nav {
  position: absolute;
  width: 100px;
  height: 93%;
  z-index: 100;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.733);
}

main .twitch .nav:hover {
  color: white;
}

main .twitch .nav i {
  margin-bottom: 3rem;
}

main .twitch #prev, main .twitch #prev2, main .twitch #prev3 {
  left: 0;
  right: unset;
}

main .twitch .cont {
  height: 270px;
  position: relative;
}

main .twitch .scroll {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  overflow-x: scroll;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 1rem;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 99%;
  padding-bottom: 1rem;
}

main .twitch .scroll::-webkit-scrollbar {
  height: 10px;
}

main .twitch .scroll::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

main .twitch .scroll::-webkit-scrollbar-thumb:hover {
  background: #fca311;
}

main .twitch .scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

main .twitch .card {
  background-color: #292f32;
  padding: 0.6rem;
  border: unset;
  height: 100%;
  width: 340px;
  border-radius: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main .twitch .card:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.2);
}

main .twitch .card .wrapPreview {
  position: relative;
  width: 320px;
  height: 180px;
}

main .twitch .card .wrapPreview .preview {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.6rem;
}

main .twitch .card .wrapPreview span {
  position: absolute;
  font-weight: lighter;
}

main .twitch .card .wrapPreview span:first-of-type {
  right: 0;
  margin: 0.6rem;
}

main .twitch .card .wrapPreview span:last-of-type {
  left: 0;
  bottom: 0;
  margin: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

main .twitch .card .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.5rem;
}

main .twitch .card .footer .logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

main .twitch .card .footer .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

main .twitch .card .footer .desc .title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main .twitch .card .footer .desc .name {
  color: white;
  font-size: 1rem;
}

main .topMembers .scroll {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .topMembers .scroll .profil {
  width: 10vw;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

main .topMembers .scroll .profil img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .topMembers .scroll .profil .desc span {
  font-weight: lighter;
}

@media screen and (max-width: 992px) {
  main {
    font-size: 16px;
  }
  aside {
    width: 100px !important;
  }
  aside .brand {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0rem !important;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 750px) {
  aside .active::before {
    width: 0px !important;
  }
  #carousel button {
    width: 30px !important;
    height: 30px !important;
  }
  #carousel .carousel-item img {
    width: 100%;
    height: 300px !important;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .pages {
    margin: unset !important;
  }
  main {
    padding: 0 !important;
  }
  main .phone {
    padding: 0 !important;
  }
  .Mini {
    min-width: 300px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 400px !important;
  }
  aside {
    position: absolute;
    z-index: 1000;
    width: 100vw !important;
    max-width: unset !important;
    height: 6vh !important;
    min-height: unset !important;
    position: fixed;
    bottom: 0;
  }
  aside .stick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  aside .brand {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    margin: auto 1rem;
  }
  aside nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  aside nav a:first-of-type {
    margin-left: auto !important;
  }
  aside nav a:last-of-type {
    margin-right: auto !important;
  }
  aside .profilMenu2 {
    right: 0;
    width: auto !important;
    background-color: #222527;
    border-radius: 1rem 0 0 1rem;
    bottom: 4rem !important;
    text-align: center;
    visibility: hidden;
  }
  aside .profilMenu2 i {
    margin: 0 !important;
  }
  aside .profilMenu2 button {
    margin: 0 auto !important;
  }
}

.bgYellow {
  background-color: #fca311 !important;
  border-color: #fca311;
}

.bgYellow:hover {
  border-color: #fca311;
  -webkit-box-shadow: 0 0px 5px 1px #fca311;
          box-shadow: 0 0px 5px 1px #fca311;
}

.border_red {
  border: 2px solid red;
}

.border_yellow {
  border: 2px solid #fca311;
}

#plusArticle {
  cursor: pointer;
}

#plusArticle:hover {
  color: #fca311;
}

.plusSug {
  text-align: end;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

#carousel {
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#carousel .carousel-indicators {
  left: unset;
  margin-right: 5%;
  margin-bottom: 2.5rem;
}

#carousel .carousel-indicators .active {
  border: 1px solid #fca311;
  -webkit-box-shadow: 0 0 10px #fca311;
          box-shadow: 0 0 10px #fca311;
}

#carousel .carousel-indicators button {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: unset;
  text-indent: 0px;
  border: unset;
  border-radius: 10px;
  overflow: hidden;
}

#carousel .carousel-indicators button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#carousel .carousel-item img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#carousel .carousel-caption {
  text-align: left;
  left: 5%;
  right: 40%;
}

#carousel .mycaption-top {
  top: 3%;
  text-transform: uppercase;
}

.myCard {
  background-color: #292f32;
  border-radius: 1rem;
  padding: 0.6rem;
}

.bgTwitch {
  background-color: #9147FF !important;
  border-color: #9147FF;
}

.bgTwitch:hover {
  border-color: #9147FF;
  -webkit-box-shadow: 0 0px 5px 1px #9147FF;
          box-shadow: 0 0px 5px 1px #9147FF;
}

.bgYoutube {
  background-color: #ff2e2e !important;
  border-color: #ff2e2e;
}

.bgYoutube:hover {
  border-color: #ff2e2e;
  -webkit-box-shadow: 0 0px 5px 1px #ff2e2e;
          box-shadow: 0 0px 5px 1px #ff2e2e;
}

.mySuccess {
  background-color: rgba(2, 255, 2, 0.473);
  border-color: green;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: normal;
  color: white;
}
/*# sourceMappingURL=style.css.map */