
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$grey: rgb(179, 179, 179);
$yellow: #fca311;
$dark: RGB(28, 29, 28);
$dark_grey: rgb(43, 43, 43);
$semi_dark: #222527;


body {
    color: $grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    &:hover {
        color: $yellow;
    }
}


aside {
    max-width: 300px !important;
    background-color: $dark;
    min-height: 100vh;
    box-shadow:  5px 0 15px rgb(24, 24, 24);
    z-index: 100;
    .brand {
        font-size: 2em;
        font-weight: bold;
        color: $yellow;
        padding: 1em ;
        span {
            font-size: 0.6em;
            font-weight: 300;
            color: white;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        a {
            background-color: $dark_grey;
            padding:0.7em 1em !important;
            margin: 0.5em;
            transition: 0.5s;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

main {
    width: 100%;
    

    background-image: linear-gradient(#22252700 0%,#222527 500px, #14171a);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 500px;
        background-image: url(../images/aero.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        z-index: -1;
    }
    header {
        padding: 1em;
        display: flex;
        align-items: center;
        position: relative;
        & > * {
            cursor: pointer;
            &:hover {
                color: $yellow;
            }
        }
        input {
            border-radius: 0.5em;
            border: none;
            background-color: #36393b;
            padding: 0.4em 2em;
            font-size: 0.8em;
            outline: none;
            color: $grey;
            &:hover , &:focus {
                background-color: #292c2c;
            }
        }
        i {
            position: relative;
            &::after {
                content: '';
                background-color: $yellow;
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: 70%;
            }
        }
        
        .lightMode {
            width: 50px;
            height: 26px;
            border-radius: 100px;
            background-image: linear-gradient(280deg, #5d6270, #242b31);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgb(240, 240, 240);
                top: 50%;
                left: 13px;
                transform: translate(-50%, -50%);
                transition: 0.25s;
            }
            &:hover {
                &:after {
                    background-color: $yellow;
                }
            }
        }
        button, a {
            background-color: #36393b;
            border: none;
            border-radius: 1em;
            font-size: 0.9em;
            color: rgb(179, 179, 179);
            padding: 0.4em 0.8em;
            margin: 0 1em;
            transition: 0.25s ease-out;
            &:hover {
                background-color: transparent;
                color: $yellow;
            }
        }
        
        .profilLogo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $yellow;
            background-color: $dark_grey;
            margin: 0 0 0 1em;
        }
        .profilMenu {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            bottom: 0;
            transform: translate(100%, 100%);
            transition: 0.5s ease-in-out; 
            button {
                margin: 5px 10px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.247);
            }
        }
        .focused {
            transform: translate(0%, 100%) !important; 
        }
        .userName {
            background-color: unset;
            color: white;
            margin-right: 0;
        }
    }
    .actu {
        padding: 1em 0;
        margin-top: 150px;
        h1 {
            font-weight: bold;
            color: white;
            padding: 0 0.5em;
            span {
                color: $grey;
                span {
                    color: $yellow;
                }
            }
        }
    }
    .card {
        border: none;
        height: 500px;
        min-width: 300px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
        background-image: url(../images/broken-fire.jpg);
        background-size: cover;
        background-position: center;
        .desc {
            position: relative;
            margin-top: auto;
            padding: 2em 1.5em;
            z-index: 100;
            font-weight: lighter;
            .title {
                font-weight: lighter;
            }
            .date, .auteur {
                color: $grey;
            }
            .sujet {
                font-size: 1.2em;
                text-transform: uppercase;
            }
            button {
                border: none;
                background-color: $yellow;
                padding: 0.5em 2.5em;
                color: white;
                border-radius: 5px;
                margin-top: 2em;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(#00000000 40%, #000000e0);
        }
    }
     .Mini {
        background-image: none;
        height: 240px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        min-width: 530px;
        &:first-of-type {
            margin-bottom: 20px;
        }
        &:last-of-type {
            .image {
                background-image: url(../images/pont.jpg);
            }
        }
        .image {
            background-image: url(../images/into-the-fire.jpg);
            background-size: cover;
            background-position: center;
            flex-grow: 1;  
            height: 100%;
        }
        .desc {
            margin-top: unset;
            flex-shrink: 1;       
            background-color: $semi_dark;
            padding: 1em 2em 2em;
            font-size: 0.9em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title {
                margin-top: 0;
            }
            button {
                margin-top: auto;
                padding: 0.3em 2em;
                font-size: 0.8em;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    main {
        font-size: 16px;
    }
    aside {
        width: 100px !important;
    }
    .brand {
        writing-mode: vertical-rl;
        text-orientation: upright;
        padding: 0rem !important;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 750px) {
    .Mini {
        min-width: 300px !important;
        flex-direction: column !important;
        height: 400px !important;
    } 
    aside {
        position: absolute;
        z-index: 1000;
        width: 100vw !important;
        max-width: unset !important;
        height: 6vh !important;
        min-height: unset !important;
        position: fixed;
        bottom: 0;
        display: flex;
        .brand {
            writing-mode: unset;
            margin: auto 1rem;
        }
        nav {
            flex-direction: row;
            justify-content: space-around;
            flex-grow: 1;
            max-width: 420px;
            a {
                background-color: unset;
                margin: auto 0;
            }
        }
    }
}

.bgYellow {
    background-color: $yellow !important;
    border-color: $yellow;
    &:hover {
        border-color: $yellow;
        box-shadow: 0 0px 5px 1px $yellow;
    }
}

