
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'colors';


body {
    color: $grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    &:hover {
        color: $yellow;
    }
}


aside {
    max-width: 300px !important;
    background-image: linear-gradient(hsl(204, 10%, 18%), hsl(210, 13%, 9%));
    min-height: 100vh;
    border-right: 1px solid rgb(70, 70, 70);
    position: relative;
    z-index: 100;
    .stick {
        position: sticky;
        top: 0px;
        height: 100vh;
    }
    .brand {
        font-size: 2em;
        font-weight: bold;
        color: $yellow;
        padding: 1em ;
        span {
            font-size: 0.6em;
            font-weight: 300;
            color: white;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        .pages {
            background-color: transparent;
            padding:0.7em 1em !important;
            margin:0.1rem 0.5em;
            transition: 0.5s;
            font-size: 1.2rem;
            font-weight: bold;
            position: relative;
            div {
                font-weight: normal;
                letter-spacing: 1px;
                font-size: 1.1rem;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            &:hover {
                background-color: $dark_grey;
                border-color: $yellow;
            }
        }
        .active {
            color: white;
            i {
                color: $yellow;
            }
            &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $yellow;
            }
        }
        .plusPhone {
            cursor: pointer;
            border: none;
        }
        .profilMenu2 {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            position: absolute;
            bottom: 0;
            width: 100%;
            & > *:not(form) {
                margin: 5px 10px;
                text-align: center;
            }
            form {
                margin: 1rem 0;
                display: flex;
            }
            button {
                background-color: transparent;
                border: none;
                border-radius: 1em;
                font-size: 0.9em;
                color: rgb(179, 179, 179);
                padding: 0.4em 0.8em;
                transition: 0.25s ease-out;
                margin-left: auto;
                &:hover {
                    background-color: #36393b;
                    color: $yellow;
                }
            }
        }
    }
}

main {
    width: 100%;
    background-image: linear-gradient(hsl(204, 10%, 14%), hsl(210, 13%, 9%));
    position: relative;
    background-attachment: scroll;
    min-height: 100vh;
    & > header {
        padding: 1em;
        display: flex;
        align-items: center;
        position: relative;
        & > * {
            cursor: pointer;
            &:hover {
                color: $yellow;
            }
        }
        input[type="search"] {
            border-radius: 3em;
            border: 1px solid rgb(70, 70, 70);
            background-color: transparent;
            padding: 0.4em 2em;
            font-size: 0.8em;
            outline: none;
            color: $grey;
            position: relative;
            &:hover , &:focus {
                background-color: #292c2c;
            }
        }
        i {
            position: relative;
            &::after {
                content: '';
                background-color: $yellow;
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: 70%;
            }
        }
        
        button, a {
            background-color: #36393b;
            border: none;
            border-radius: 1em;
            font-size: 0.9em;
            color: rgb(179, 179, 179);
            padding: 0.4em 0.8em;
            margin: 0 1em;
            transition: 0.25s ease-out;
            &:hover {
                background-color: transparent;
                color: $yellow;
            }
        }
        
        
        /* .profilMenu {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            bottom: 0;
            transform: translate(100%, 100%);
            transition: 0.5s ease-in-out; 
            button {
                margin: 5px 10px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.247);
            }
            & > *:not(form) {
                margin: 5px 10px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.247);
                text-align: center;
            }
        } */
        .focused {
            transform: translate(0%, 100%) !important; 
        }
        .userInfos {
            margin-left: 2rem;
            text-align: end;
            display: flex;
            .userName {
                background-color: unset;
                color: white;
                margin-right: 0;
            }
            .role {
                font-size: 0.8rem;
            }
            .profilLogo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $yellow;
                object-fit: cover;
                margin-left: 1rem;
            }
        }
        
    }
    section {
        padding: 1em 0;
        h1 {
            font-weight: bold;
            color: white;
            padding: 0 0.5em;
            color: $grey;
            text-transform: uppercase;
            &::first-letter{
                color: $yellow;
            }
            span {
                color: white;
                
            }
            
        }
    }
    .actu {
        margin-top: 150px;
        .card {
            border: none;
            height: 500px;
            min-width: 300px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
            background-size: cover;
            background-position: center;
            background-image: url(../images/broken-fire.jpg);
    
            .desc {
                position: relative;
                margin-top: auto;
                padding: 2em 1.5em;
                z-index: 100;
                font-weight: lighter;
                .title {
                    font-weight: lighter;
                }
                .date, .auteur {
                    color: $grey;
                }
                .sujet {
                    font-size: 1.2em;
                    text-transform: uppercase;
                }
                a {
                    border: none;
                    background-color: $yellow;
                    padding: 0.5em 2.5em;
                    color: white;
                    border-radius: 5px;
                    margin-top: 2em;
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(#00000000 40%, #000000e0);
            }
        }
         .Mini {
            background-image: none;
            height: 240px;
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            min-width: 530px;
            &:first-of-type {
                margin-bottom: 20px;
            }
            &:last-of-type {
                .image {
                    background-image: url(../images/pont.jpg);
                }
            }
            .image {
                background-image: url(../images/into-the-fire.jpg);
                background-size: cover;
                background-position: center;
                flex-grow: 1;  
                height: 100%;
            }
            .desc {
                margin-top: unset;
                flex-shrink: 1;       
                background-color: $semi_dark;
                padding: 1em 2em 2em;
                font-size: 0.9em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .title {
                    margin-top: 0;
                }
                a {
                    margin-top: auto;
                    padding: 0.3em 2em;
                    font-size: 0.8em;
                }
            }
        }
    }
    
    .twitch {
        margin-top: 2rem;
        nav {
            margin-top: 2rem;
            font-weight: lighter;
            ul {
                display: flex;
                list-style: none;
                li {
                    margin-right: 1.5rem;
                    border-bottom: 2px solid transparent;
                }
                .active {
                    border-color: $yellow;
                    a {
                        color: white;

                    }
                }
            }
        }
        .nav {
            position: absolute;
            width: 100px;
            height: 93%;
            z-index: 100;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.733);
            &:hover {
                color: rgb(255, 255, 255);
            }
            i {
                margin-bottom: 3rem;
            }
        }
        #prev, #prev2, #prev3 {
            left: 0;
            right: unset;
        }
        .cont {
            height: 270px;
            position: relative;
        }
        .scroll {
            flex-wrap: nowrap !important;
            overflow-x: scroll;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            left: 1rem;
            width: fit-content !important;
            max-width: 99%;
            padding-bottom: 1rem;
            &::-webkit-scrollbar {
                height: 10px;
              }
            &::-webkit-scrollbar-thumb {
                background: #555; 
                border-radius: 10px;
              }  
            &::-webkit-scrollbar-thumb:hover {
                background: $yellow; 
              }
            &::-webkit-scrollbar-track {
                background: transparent; 
                border-radius: 10px;
              }  
        }
        
        .card {
            background-color: hsl(204, 10%, 18%);
            padding: 0.6rem;
            border: unset;
            height: 100%;
            width: 340px;
            border-radius: 1rem;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: translateY(-0.5rem);
                box-shadow: 0 0.5rem 10px rgba(0, 0, 0, 0.2);
            }
            .wrapPreview {
                position: relative;
                width: 320px;
                height: 180px;
                .preview {
                    width: fit-content;
                    border-radius: 0.6rem;
                }
                span {
                    position: absolute;
                    font-weight: lighter;
                    &:first-of-type {
                        right: 0;
                        margin: 0.6rem;
                    }
                    &:last-of-type {
                        left: 0;
                        bottom: 0;
                        margin: 0.6rem;
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        font-size: 0.9rem;
                        padding: 0.2rem 0.5rem;
                        border-radius: 0.4rem;
                    }
                }
            }
            
            .footer {
                display: flex;
                align-items: flex-start;
                margin-top: 0.5rem;
                .logo {
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    margin-right: 0.5rem;
                }
                .desc {
                    flex: 1 1 auto;
                    min-width: 0;
                    .title {                     
                        font-size: 1rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .name {
                        color: white;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .topMembers {
        .scroll {
            top: 50%;
            transform: translateY(-50%);
            .profil {
                width: 10vw;
                min-width: max-content;
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
                .desc {
                    span {
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    main {
        font-size: 16px;
    }
    aside {
        width: 100px !important;
        .brand {
            writing-mode: vertical-rl;
            text-orientation: upright;
            padding: 0rem !important;
            margin: 1rem auto;
        }
    }
    
}

@media screen and (max-width: 750px) {
    aside {
        .active {
            &::before {
                width: 0px !important;
            }
        }
    }
        
    #carousel {
        button {
            width: 30px !important;
            height: 30px !important;
        }
        .carousel-item {
            img {
                width: 100%;
                height: 300px !important;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    
    .pages {
        margin: unset !important;
    }
    main {
        padding: 0 !important;
        .phone {
            padding: 0 !important;
        }
    }
    .Mini {
        min-width: 300px !important;
        flex-direction: column !important;
        height: 400px !important;
    } 
    aside {
        position: absolute;
        z-index: 1000;
        width: 100vw !important;
        max-width: unset !important;
        height: 6vh !important;
        min-height: unset !important;
        position: fixed;
        bottom: 0;
        .stick {
            display: flex;
            height: auto;
        }
        .brand {
            writing-mode: unset;
            margin: auto 1rem;
        }
        nav {
            flex-direction: row;
            justify-content: space-around;
            flex-grow: 1;
            a:first-of-type {
                margin-left: auto !important;
            }
            a:last-of-type {
                margin-right: auto !important;
            }
        }
        .profilMenu2 {
            right: 0;
            width: auto !important;
            background-color: $semi_dark;
            border-radius: 1rem 0 0 1rem;
            bottom: 4rem !important;
            text-align: center;
            visibility: hidden;
            i {
                margin: 0 !important;
            }
            button {
                margin: 0 auto !important;  
            }
        }
    }
}

.bgYellow {
    background-color: $yellow !important;
    border-color: $yellow;
    &:hover {
        border-color: $yellow;
        box-shadow: 0 0px 5px 1px $yellow;
    }
}

.border_red {
    border: 2px solid red;
}

.border_yellow {
    border: 2px solid $yellow;
}

#plusArticle {
    cursor: pointer;
    &:hover {
        color: $yellow;
    }
}

.plusSug {
    position: absolute;
    bottom: -150%;
    background-color: $dark_grey;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
} 



#carousel {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    .carousel-indicators {
        left: unset;
        margin-right: 5%;
        margin-bottom: 2.5rem;
        .active {
            border: 1px solid $yellow;
            box-shadow: 0 0 10px $yellow;
        }
        button {
            width: 70px;
            height: 40px;
            border-radius: 10px;
            box-sizing: border-box;
            background-clip: unset;
            text-indent: 0px;
            border: unset;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    .carousel-item {
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: center;
        }
    }

    .carousel-caption {
        text-align: left;
        left: 5%;
        right: 40%;
    }

    .mycaption-top {
        top: 3%;
        text-transform: uppercase;
    }
}

.myCard {
    background-color: $card;
    border-radius: 1rem;
    padding: 0.6rem;
}

.bgTwitch {
    background-color: $twitch !important;
    border-color: $twitch;
    &:hover {
        border-color: $twitch;
        box-shadow: 0 0px 5px 1px $twitch;
    }
}