@import 'colors';



form {
    width: 100% !important;
    input, textarea, select, label {
        filter: invert(1);
    }
}


.card {
    height: unset !important;
}

.noFilter {
    filter: invert(0) !important;
}

.text-danger {
    font-size: 0.9rem;
    font-weight: lighter;
}

h1 {
    text-transform: uppercase;
}

.invert {
    filter: invert(1) !important;
}