@import 'colors';


body {
    background-color: $dark_grey;
}

.profilDesc, .topWeapon {

    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    .title {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        display: flex;
        i {
            margin-left: auto;
            cursor: pointer;
        }
    }
    .wrap {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .infos {
            position: relative;
            z-index: 10;
            ul{
                list-style: none;
                .none {
                    opacity: 0.2;
                    pointer-events: none;
                    &:hover {
                        color: unset;
                    }
                }
                .social {
                    margin-top: 2rem;
                    font-size: 2rem;
                    
                }
                li {
                    color: white;
                    margin-bottom: 0.5rem;
                    font-weight: lighter;
                    list-style: none;
                    a {
                        margin-right: 1rem;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                        border: none;
                    }
                }

            }
            
        }
        .edit {
            color: white;
            display: flex;
            flex-direction: column;
            img {
                width: 18px;
                height: 18px;
                border: none;
            }
            input, .upload {
                background-color: unset;
                font-weight: lighter;
                font-family: inherit;
                font-size: 0.9rem;
                padding: 0.3rem 0.5rem;
                color: white;
                outline: none;
                border: 1px solid rgba(255, 255, 255, 0.459);
                border-radius: 0.5rem 0 0 0;
                margin-bottom: 0.5rem;
            }
            button[type="submit"] {
                background-color: rgba(255, 255, 255, 0.459);
                border: unset;
                padding: 0.5rem 1rem;
                color: white;
                font-family: inherit;
                border-radius: 0.5rem;
                margin-bottom: 0.5rem;
            }
            button {
                font-size: 0.9rem;
            }
            .cancel {
                padding: 0.5rem 1rem !important;
            }
            label {
                cursor: pointer;
            }
        }
        .logoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
        }
        .profilLogoDesc {
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-position: center;
            border: 2px solid $yellow;
            flex-shrink: 1;
        }
    }
    
}

.mostUsed {
    display: flex;
    align-items: center;
    h3 {
        color: $yellow;
    }
    .title {
        display: block;
    }
    .weapon-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stats {
        flex: 4;
        display: grid;
        grid-gap: .75rem;
        grid-template-columns: repeat(auto-fill,minmax(8rem,1fr));
        padding: 1rem 0;
        .collapse {
            display: block !important;
        }
        .numbers {
            display: flex;
            flex-direction: column;
            .value {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .mostUsed {
        display: block;
    }
}