@import 'colors';


body {
    background-color: $dark_grey;
}

.profilDesc, .topWeapon {

    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    .title {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .wrap {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .infos {
            position: relative;
            z-index: 10;
            ul {
                list-style: none;
                margin-bottom: 0.5rem;
                li {
                    color: white;
                }
            }
        }
        img {
            top: 0;
            left: 0;
            width: 200px;
            object-fit: cover;
            height: 200px;
            border-radius: 50%;
            object-position: center;
            margin: 0 auto;
            border: 2px solid $yellow;
        }
    }
    
}

.mostUsed {
    display: flex;
    align-items: center;
    h3 {
        color: $yellow;
    }
    .title {
        display: block;
    }
    .weapon-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stats {
        flex: 4;
        display: grid;
        grid-gap: .75rem;
        grid-template-columns: repeat(auto-fill,minmax(8rem,1fr));
        padding: 1rem 0;
        .collapse {
            display: block !important;
        }
        .numbers {
            display: flex;
            flex-direction: column;
            .value {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .mostUsed {
        display: block;
    }
    .profilDesc {
        img {
            display: none !important;
        }
    }
}