/* $yellow: #fca311; */
body {
  background-color: #2b2b2b;
}

.profilDesc, .topWeapon {
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profilDesc .title, .topWeapon .title {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profilDesc .title i, .topWeapon .title i {
  margin-left: auto;
  cursor: pointer;
}

.profilDesc .wrap, .topWeapon .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profilDesc .wrap .infos, .topWeapon .wrap .infos {
  position: relative;
  z-index: 10;
}

.profilDesc .wrap .infos ul, .topWeapon .wrap .infos ul {
  list-style: none;
}

.profilDesc .wrap .infos ul .none, .topWeapon .wrap .infos ul .none {
  opacity: 0.2;
  pointer-events: none;
}

.profilDesc .wrap .infos ul .none:hover, .topWeapon .wrap .infos ul .none:hover {
  color: unset;
}

.profilDesc .wrap .infos ul .social, .topWeapon .wrap .infos ul .social {
  margin-top: 2rem;
  font-size: 2rem;
}

.profilDesc .wrap .infos ul li, .topWeapon .wrap .infos ul li {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  list-style: none;
}

.profilDesc .wrap .infos ul li a, .topWeapon .wrap .infos ul li a {
  margin-right: 1rem;
}

.profilDesc .wrap .infos ul li img, .topWeapon .wrap .infos ul li img {
  width: 18px;
  height: 18px;
  border: none;
}

.profilDesc .wrap .edit, .topWeapon .wrap .edit {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profilDesc .wrap .edit img, .topWeapon .wrap .edit img {
  width: 18px;
  height: 18px;
  border: none;
}

.profilDesc .wrap .edit input, .profilDesc .wrap .edit .upload, .topWeapon .wrap .edit input, .topWeapon .wrap .edit .upload {
  background-color: unset;
  font-weight: lighter;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.459);
  border-radius: 0.5rem 0 0 0;
  margin-top: 0.5rem;
}

.profilDesc .wrap .edit button[type="submit"], .topWeapon .wrap .edit button[type="submit"] {
  background-color: rgba(255, 255, 255, 0.459);
  border: unset;
  padding: 0.5rem 1rem;
  color: white;
  font-family: inherit;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.profilDesc .wrap .edit button, .topWeapon .wrap .edit button {
  font-size: 0.9rem;
}

.profilDesc .wrap .edit .cancel, .topWeapon .wrap .edit .cancel {
  padding: 0.5rem 1rem !important;
  color: white;
}

.profilDesc .wrap .edit label, .topWeapon .wrap .edit label {
  cursor: pointer;
}

.profilDesc .wrap .logoContainer, .topWeapon .wrap .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

.profilDesc .wrap .profilLogoDesc, .topWeapon .wrap .profilLogoDesc {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  border: 2px solid RGB(106, 247, 151);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.mostUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mostUsed h3 {
  color: RGB(106, 247, 151);
}

.mostUsed .title {
  display: block;
}

.mostUsed .weapon-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mostUsed .stats {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -ms-grid;
  display: grid;
  grid-gap: .75rem;
  -ms-grid-columns: (minmax(8rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  padding: 1rem 0;
}

.mostUsed .stats .collapse {
  display: block !important;
}

.mostUsed .stats .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mostUsed .stats .numbers .value {
  color: white;
}

.topStats {
  height: 100%;
}

.topStats .noOrigin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 280px;
}

.topStats .noOrigin .desc {
  font-weight: lighter;
  color: white;
}

.topStats .noOrigin input {
  border-radius: 3em;
  border: 1px solid RGB(106, 247, 151);
  background-color: transparent;
  padding: 0.4em 2em;
  font-size: 0.8em;
  outline: none;
  color: #b3b3b3;
  position: relative;
}

@media screen and (max-width: 992px) {
  .mostUsed {
    display: block;
  }
}

.logInvalid {
  font-size: 0.9rem;
  color: red;
  font-weight: lighter;
  margin-left: 2.2rem;
}

.mailInput {
  max-width: 400px;
}
/*# sourceMappingURL=user.css.map */